<div class="aboutus-overlay1">
    <div class="aboutus-overlay1-content">
      <div class="headline">About NTU Open Source Society</div>
      <p>NTU Open Source Society (OSS) is a student community at the Nanyang Technological University helping to promote the value and importance of Open Source in NTU. We attract students of common technical interests to foster a community of engineers, hackers and builders to explore their interests in technology and share their knowledge and expertise with others. Through our weekly meetings, we help students learn practical coding skills, find partners to work with on interesting projects and also help promote the value and importance of contributing to open source development. Regardless of skill level or expertise, if you like to build things, this is the place for you.</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="column">
                <div class="container-content">
                    <img src="../../../../assets/pages/about/container_temp.png" width="36" height="36" alt="">
                    <div class="subline">Code</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>        
                </div>
            </div>
            <div class="column border-side">
                <div class="container-content">
                    <img src="../../../../assets/pages/about/container_temp.png" width="36" height="36" alt="">
                    <div class="subline">Network</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>        
                </div>
            </div>
            <div class="column">
                <div class="container-content">
                    <img src="../../../../assets/pages/about/container_temp.png" width="36" height="36" alt="">
                    <div class="subline">Hack</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>        
                </div>
            </div>
        </div>
        <div class=border-middle></div>
        <div class="row">
            <div class="column">
                <div class="container-content">
                    <img src="../../../../assets/pages/about/container_temp.png" width="36" height="36" alt="">
                    <div class="subline">Volunteer</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>        
                </div>
            </div>
            <div class="column border-side">
                <div class="container-content">
                    <img src="../../../../assets/pages/about/container_temp.png" width="36" height="36" alt="">
                    <div class="subline">Contribute</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>        
                </div>
            </div>
            <div class="column">
                <div class="container-content">
                    <img src="../../../../assets/pages/about/container_temp.png" width="36" height="36" alt="">
                    <div class="subline">???</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>        
                </div>
            </div>
        </div>
    </div>
</div>