<div class="background-container">
	<video autoplay loop id="landing-background-video">
		<source [src]="videoUrl" type="video/mp4" />
	</video>
</div>
<div class="overlay">
	<div class="overlay-content">
		<div class="headline">COME BUILD<br />WITH US <span class="blinking">_</span></div>
		<div class="name">NTU OPEN SOURCE SOCIETY</div>
		<button type="button" (click)="scrollTo()" class="btn btn-outline-light btn-lg">Sign Up</button>
		<button type="button" (click)="scrollTo()" class="btn btn-outline-light btn-lg">
			Apply for Committee
		</button>
	</div>
</div>
