<div class="background-container">
  <video autoplay loop id="landing-background-video">
    <source [src]="videoUrl" type="video/mp4">
  </video>
</div>
<div class="overlay">
  <div class="overlay-content">
    <div class="headline">COME BUILD<br>WITH US <span class="blinking">_</span></div>
    <div class="name">NTU OPEN SOURCE SOCIETY</div>
    <button type="button" class="btn btn-outline-light btn-lg" (click)="SignUp()">Sign Up</button>
    <button type="button" class="btn btn-outline-light btn-lg" (click)="Apply()">Apply for Committee</button>
  </div>
</div>