:host {
  display: block;
  height: 100vh;
  background: black;
}

.background-container {
  overflow: hidden;
  position: relative;
  height: 100vh;
  video {
    position: absolute;
    height: 100vh;
    transform: scale(1.2);
  }
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(#1c1c1c, 0.7);
  display: flex;
  align-items: center;
  padding: 0 10%;

  .overlay-content {
    flex: 1;
    color: white;
    user-select: none;

    .headline {
      font-size: 6rem;
      line-height: 6rem;
      font-weight: 300;

      @keyframes blink {
        from, to { color: transparent; }
        50% { color: white; }
      }

      .blinking {
        animation: 1s blink step-end infinite;
      }
    }

    .name {
      font-size: 2rem;
      color: #bababa;
      padding: 1rem 0 2rem 0;
    }

    .btn:first-of-type {
      margin-right: 1rem;
    }

  }
}
