@font-face {
    font-family: 'Industry';
    src: url('../fonts/Industry Thin.eot');

    src: url('../fonts/Industry Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Industry Thin.woff') format('woff'),
    url('../fonts/Industry Thin.ttf') format('truetype'),
    url('../fonts/Industry Thin.svg#c86486dbadc7b404ad2f031bed2761de') format('svg');

    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'Industry';
    src: url('../fonts/Industry Thin Italic.eot');

    src: url('../fonts/Industry Thin Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Industry Thin Italic.woff') format('woff'),
    url('../fonts/Industry Thin Italic.ttf') format('truetype'),
    url('../fonts/Industry Thin Italic.svg#c86486dbadc7b404ad2f031bed2761de') format('svg');

    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: 'Industry';
    src: url('../fonts/Industry Light.eot');

    src: url('../fonts/Industry Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Industry Light.woff') format('woff'),
    url('../fonts/Industry Light.ttf') format('truetype'),
    url('../fonts/Industry Light.svg#bd20dd7817c15453d8ce3cbc1c0815a9') format('svg');

    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Industry';
    src: url('../fonts/Industry Light Italic.eot');

    src: url('../fonts/Industry Light Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Industry Light Italic.woff') format('woff'),
    url('../fonts/Industry Light Italic.ttf') format('truetype'),
    url('../fonts/Industry Light Italic.svg#174ac24e5a902186995f6ac44ef39892') format('svg');

    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: 'Industry';
    src: url('../fonts/Industry Book.eot');

    src: url('../fonts/Industry Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Industry Book.woff') format('woff'),
    url('../fonts/Industry Book.ttf') format('truetype'),
    url('../fonts/Industry Book.svg#c7d0e2ba3b85111febe4fc506b4c9654') format('svg');

    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Industry';
    src: url('../fonts/Industry Book Italic.eot');

    src: url('../fonts/Industry Book Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Industry Book Italic.woff') format('woff'),
    url('../fonts/Industry Book Italic.ttf') format('truetype'),
    url('../fonts/Industry Book Italic.svg#d1b5209ef917be350cbc62e08da3fded') format('svg');

    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'Industry';
    src: url('../fonts/Industry Medium.eot');

    src: url('../fonts/Industry Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Industry Medium.woff') format('woff'),
    url('../fonts/Industry Medium.ttf') format('truetype'),
    url('../fonts/Industry Medium.svg#c7d0e2ba3b85111febe4fc506b4c9654') format('svg');

    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Industry';
    src: url('../fonts/Industry Medium Italic.eot');

    src: url('../fonts/Industry Medium Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Industry Medium Italic.woff') format('woff'),
    url('../fonts/Industry Medium Italic.ttf') format('truetype'),
    url('../fonts/Industry Medium Italic.svg#d1b5209ef917be350cbc62e08da3fded') format('svg');

    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: 'Industry';
    src: url('../fonts/Industry Demi.eot');

    src: url('../fonts/Industry Demi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Industry Demi.woff') format('woff'),
    url('../fonts/Industry Demi.ttf') format('truetype'),
    url('../fonts/Industry Demi.svg#d059cdcebab298b90e97a681ea91b266') format('svg');

    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Industry';
    src: url('../fonts/Industry Demi Italic.eot');

    src: url('../fonts/Industry Demi Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Industry Demi Italic.woff') format('woff'),
    url('../fonts/Industry Demi Italic.ttf') format('truetype'),
    url('../fonts/Industry Demi Italic.svg#e6bc71ed99f87ad543b83ed1818d17a6') format('svg');

    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: 'Industry';
    src: url('../fonts/Industry Bold.eot');

    src: url('../fonts/Industry Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Industry Bold.woff') format('woff'),
    url('../fonts/Industry Bold.ttf') format('truetype'),
    url('../fonts/Industry Bold.svg#5ab3e9e340e8dca440b8f3e3792292da') format('svg');

    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Industry';
    src: url('../fonts/Industry Bold Italic.eot');

    src: url('../fonts/Industry Bold Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Industry Bold Italic.woff') format('woff'),
    url('../fonts/Industry Bold Italic.ttf') format('truetype'),
    url('../fonts/Industry Bold Italic.svg#6949df70ac7436fe1c2e3d5e8ee12897') format('svg');

    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: 'Industry';
    src: url('../fonts/Industry Black.eot');

    src: url('../fonts/Industry Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Industry Black.woff') format('woff'),
    url('../fonts/Industry Black.ttf') format('truetype'),
    url('../fonts/Industry Black.svg#367983e52b9609cbc5225735e993082c') format('svg');

    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: 'Industry';
    src: url('../fonts/Industry Black Italic.eot');

    src: url('../fonts/Industry Black Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Industry Black Italic.woff') format('woff'),
    url('../fonts/Industry Black Italic.ttf') format('truetype'),
    url('../fonts/Industry Black Italic.svg#e8c53a3b65d49557a4152a70cc377337') format('svg');

    font-style: italic;
    font-weight: 800;
}

@font-face {
    font-family: 'Industry';
    src: url('../fonts/Industry Ultra.eot');

    src: url('../fonts/Industry Ultra.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Industry Ultra.woff') format('woff'),
    url('../fonts/Industry Ultra.ttf') format('truetype'),
    url('../fonts/Industry Ultra.svg#19b35cd0a264edc0a4426fd02bb4b668') format('svg');

    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: 'Industry';
    src: url('../fonts/Industry Ultra Italic.eot');

    src: url('../fonts/Industry Ultra Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Industry Ultra Italic.woff') format('woff'),
    url('../fonts/Industry Ultra Italic.ttf') format('truetype'),
    url('../fonts/Industry Ultra Italic.svg#f3cfecf361ddf8df2bed59e871624f72') format('svg');

    font-style: italic;
    font-weight: 900;
}
