$ntuoss-font-stack: 'Open Sans', Helvetica, Arial, sans-serif;
$ntuoss-headings-font-stack: 'Industry', 'Open Sans', Helvetica, Arial, sans-serif;

$ntuoss-green: #27C82D;
$ntuoss-blue: #00ACDA;
$ntuoss-yellow: #FFD300;
$ntuoss-grey-n: #CCCCCC;
$ntuoss-grey-t: #999999;
$ntuoss-grey-u: #666666;

$background-grey: #FFD300;
