<div class="card" (click)="showDetails(event)">
  <img [src]="event.banner.imageUrl" alt="logo" class="logo">
  <div class="content">
    <h4 class="title"><a [href]="event.eventbriteUrl" target="_blank">{{event.title}}</a></h4>
    <h5 class="summary">
      {{event.description}}
    </h5>
  </div>
  <div class="content">
    <strong class="time">
      {{getDateFromUTC(event.startTime)}}
    </strong>
    <small class="location">
      {{event.venue.address}}
    </small>
  </div>
  <button type="button" (click)="cardClick(event.eventbriteUrl)" class="btn btn-outline-dark btn-lg">{{ isPastEvent() ?
    'Register': 'Review'}}</button>
</div>