.card {
    height: 100%;
    margin: 0 5%;
    flex-direction: column;
    transition: 0.5s;

    .card-img-top {
        object-fit: cover;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }

    .card-title > a {
        text-decoration: none;
    }

    .card-text {
        font-weight: 200;
    }

    .card-body {
        padding: 2rem;
        font-size: 1rem;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &:hover {
        border: 1px solid rgba(0, 0, 0, 0.3);
    }
}
