<div class="card">
  <img class="card-img-top" [src]="event.banner.imageUrl">
  <div class="card-body">
    <div>
      <h4 class="card-title">
        <a [href]="event.eventbrite.url" target="_blank">{{ event.title }}</a>
      </h4>
      <p class="card-text">
        {{ event.description }}
      </p>
    </div>
    <div>
      <h4 class="card-subtitle mb-2">
        {{ event.startTime | amDateFormat: 'dddd, MMMM D YYYY' }}
      </h4>
      <p class="card-subtitle text-muted">
        {{ event.venue.addressLine1 }}<br>
        {{ event.venue.addressLine2 }}
      </p>
      <button class="btn btn-outline-primary btn-sm btn-block mt-5" (click)="openRegistrationPage()"
        [disabled]="isPastEvent">
        Register
      </button>
    </div>
  </div>
</div>
