.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #FCFDFF;
}

.footer #footer-social-buttons {
    margin-top: 50px;
}

.footer .social-button {
    font-size: 24px;
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
    border-radius: 100%;
    background-color: #fff;
}

@mixin social-button($color) {
    border-color: $color;

    i {
        color: $color;
    }
}

@mixin social-button-hover($color) {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-color: $color;
    background-color: $color;

    i {
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        color: #FFFFFF;
    }
}

.footer .social-button.facebook {
    @include social-button(#3b5998);
}

.footer .social-button.twitter {
    @include social-button(#4099ff);
}

.footer .social-button.github {
    @include social-button(#333333);
}

.footer .social-button.email {
    @include social-button($ntuoss-green);
}

.footer .social-button:hover.facebook {
    @include social-button-hover(#3b5998);
}

.footer .social-button:hover.twitter {
    @include social-button-hover(#4099ff);
}

.footer .social-button:hover.github {
    @include social-button-hover(#333333);
}

.footer .social-button:hover.email {
    @include social-button-hover($ntuoss-green);
}
