$ntuoss-font-logo: 'Industry';

$ntuoss-green: #27C82D;
$ntuoss-blue: #00ACDA;
$ntuoss-yellow: #FFD300;
$ntuoss-grey-n: #CCCCCC;
$ntuoss-grey-t: #999999;
$ntuoss-grey-u: #666666;

$background-grey: #F7F7F7;
