@import 'external/_reset';

@import '../../bower_components/bootstrap/scss/_functions';
@import '../../bower_components/bootstrap/scss/_variables';
@import '../../bower_components/bootstrap/scss/_mixins';

@import 'utils/_variables';
@import 'utils/_fonts';

@import 'components/_buttons';
@import 'components/_navbar';
@import 'components/_footer';

@import 'pages/_home';
@import 'pages/_events';
@import 'pages/_about-us';
