@import '../../../../assets/config.scss';

:host {
  display: block;

  & > .container {
    padding: 10rem 0;
  }
}

.events-container {
  display: grid;
  grid-template-columns: repeat(3 ,1fr);
  grid-template-rows: auto;
  grid-row-gap: 2rem;
  justify-items: center;
}

@include mediaLg {
  .events-container {
    grid-template-columns: repeat(2 ,1fr);
  }
}

@include mediaMd {
  .events-container {
    grid-template-columns: 1fr;
    align-items: center;
    padding: 2rem;
  }
}

