@import '../../../../assets/config.scss';

:host {
  display: block;

  & > .container {
    padding: 10rem 0;
  }
}

// .featured-event {
//     transform: translateY(2rem);
//     height: 100vh;
//     width: 100vw;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     img {
//         box-shadow: 0 0 100px rgba($primary-color, 0.8);
//         width: 80%;
//         cursor: pointer;
//     }
//     .text {
//         display: none;
//     }
// }

.events-container {
  display: grid;
  grid-template-columns: repeat(3 ,1fr);
  grid-template-rows: auto;
  grid-row-gap: 2rem;
  justify-items: center;
}

@include mediaLg {
  .events-container {
    grid-template-columns: repeat(2 ,1fr);
  }
}

@include mediaMd {
  .events-container {
    grid-template-columns: 1fr;
    align-items: center;
    padding: 2rem;
  }
}

