img {
  position: absolute;
  top: 100px; 
}
.wrapper {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: NEON, -apple-system, Roboto, 'Open Sans', sans-serif;
  z-index: 2;
}

.txt {
  color: #fff;
  text-align: center;
  text-shadow: 2px 3px 5px #eee3;
  width:100vw;
  font-size: 18vw;
  font-weight: light;
  text-transform: uppercase;
  background: -webkit-linear-gradient(24deg, #46b9c6, #edea3f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.neon-wrapper {
  overflow: hidden;
  animation: dodge-area 2s ease-in-out infinite alternate;
}

.welcome-notes {
  color: #fff;
  font-size: 5vw;
}

.register-button {
  margin-top: 30px;
  padding: 10px;
  border-radius: 3px;
  border: 2px solid #46b9c6a9;
  background: transparent;
  color: #46b9c6a9;
}

.footer {
  color: #eee;
  position: absolute;
  bottom: 2px;
  right: 5px;
  font-size: 10px;
  font-weight: 100;
}
@keyframes dodge-area {
  0% {
    filter: brightness(100%);
  }
  100% {
    filter: brightness(200%);
  }
}
