:host {
  display: block;
  padding-top: 12rem;
}

#map {
  width: 100%;
  height: 50vh;
  position: relative;

  button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1;
  }
}