.about-us-section {
    margin-top: 10px;
    margin-bottom: 50px;

    .main-body {
        font-size: 1.1em;
    }
}

.team-member {
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
}

.member-name {
    margin-top: 25px;
    font-size: 1.3em;
}

.member-title {
    font-size: 1.1em;
}
