
.main-heading{
  margin-top:5%;
}
.main-body{
  margin:3%;
  font-size:1.1em;
}
.card-deck{
  margin-top:2%;
  padding:0px;
}
.card-about{
  border:none;
  text-align: center;
  padding:15px;
  height:85%;
}
.card-title{
  margin-top:25px;
  font-size:1.3em;
}
.card-text{
  font-size:1.1em;
}
.my-peeps{
  // border-radius: 70px
  text-align: center;
}
.display-3{
  color: white;
}
