.about-us-section {
    margin-top: 10px;
    margin-bottom: 50px;

    p {
        font-size: 1.1em;
        line-height: 1.5;
        text-align: justify;
        -moz-text-align-last: center;
        text-align-last: center;

        strong {
            font-weight: 700;
        }
    }
}

.team-member {
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
}

.member-name {
    margin-top: 25px;
    font-size: 1.3em;
    font-weight: 600;
}

.member-title {
    font-size: 1.1em;
}
