.jumbotron {
    background-color: $ntuoss-blue;
    font-family: 'Industry';
    font-weight: 400;
}


.section {
    margin-bottom: 40px;
}

.card {
    margin-bottom: 30px;

    .card-img-top {
        max-height: 500px;
        width: 100%;
        object-fit: contain;
    }

    .card-text {
        white-space: pre-wrap;
    }
}
.navbar-light .navbar-nav .nav-link{
  color: rgba(255,255,255,0.5);
}
.navbar-light .navbar-nav .nav-link:hover{
  color: white;
  transition: color 100ms linear;

}
// .navbar-light .navbar-nav .active>.nav-link{
//   color: white;
// }
#scroll-top-btn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    font-size: 1.4rem;
    display: none;
}
@media only screen and (max-width: 991px) {
  .jumbotron {
      margin-top:15%;
      // font-size:20px;
  }
  .navbar{
    background: white;
    border-bottom: 1px grey solid;
  }
  .navbar-light .navbar-nav .nav-link{
    color: rgba(0,0,0,0.5);
  }
  .navbar-light .navbar-nav .active>.nav-link{
    color: "black";
  }
  .navbar-collapse{
    background: white;
  }
  #navbar-brand{
    src: url("../../../assets/logo/Logo_Colour_Small.png");
  }
}
