.events-section {
    margin-bottom: 40px;
}

#events-section-events .card {
    margin-bottom: 30px;

    .event-name {
        font-weight: 600;
    }

    .event-datetime {
        font-size: 15px;
        font-weight: 600;
        color: #888;
    }

    .card-img-top {
        max-height: 500px;
        width: 100%;
        object-fit: contain;
    }

    .card-text {
        margin-top: 20px;
        font-size: 1em;
    }

    .card-footer {
        padding-top: 1.5em;
        padding-bottom: 1.5em;
    }
}

#events-scroll-top-btn {
    position: fixed;
    bottom: 4%;
    right: 3%;
    z-index: 99;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    font-size: 1.4em;
    display: none;
}
