#home-jumbotron {
    background-color: #F7F7F7;
}

#home-jumbotron-logo-row {
    height: 70vh;
}

#home-jumbotron-slogan-row {
    height: 20vh;

    h1 {
        font-family: 'Industry';
        font-weight: 700;
        border: 5px solid black;
        padding: 15px;
        margin-bottom: 0;
    }
}

#home-jumbotron-arrow-row {
    height: 10vh;

    #home-jumbotron-arrow {
        font-size: 2rem;
        color: #000;
    }
}

.home-section {
    margin-top: 80px;
    margin-bottom: 80px;
}

#home-section-events {
    .card-deck {
        margin-bottom: 30px;
    }

    .card {
        margin-bottom: 10px;
    }
}
