#home-jumbotron {
    background-color: $ntuoss-blue;
}
p{
  font-family: 'Open Sans', sans-serif;
}
#home-jumbotron:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(0,0,0, 0.4) 90%);
  width: 100%;
  height: 8em;
}
a:hover{
  text-decoration: none;
}
#home-jumbotron-logo-row {
    height: 70vh;
}

#home-jumbotron-slogan-row {
    height: 20vh;

    h1 {
        font-family: 'Industry';
        font-weight: 400;
        // border: 5px solid black;
        padding: 15px;
        margin-top:5%;
    }
}

#home-jumbotron-arrow-row {
    height: 10vh;
    // padding-bottom:40px;

    #home-jumbotron-arrow {
        font-size: 2rem;
        color: #000;
    }
}

.home-section {
    margin-top: 100px;
    margin-bottom: 100px;
}
.navbar{
  transition: background-color 300ms linear;
  font-family: 'Industry', sans-serif;
}
.nav-link{
  margin-left: 5px;
  margin-bottom:5px;
  margin-top: 0px;
  font-size: 1em;
}
.navbar-light .navbar-nav .nav-link{
  color: rgba(255,255,255,0.5);
}
.navbar-light .navbar-nav .nav-link:hover{
  color: white;
  transition: color 100ms linear;

}
.navbar-light .navbar-nav .active>.nav-link{
  color: white;
}
.btn-block{
  margin-top:20px;
}
#home-section-events {
    .card-deck {
        margin-bottom: 30px;
    }

    .card {
        margin-bottom: 10px;
        // border-bottom-left-radius: 20px;
        // border-bottom-right-radius: 20px;
        // Experimental, I had nothing to do with this
    }
}
