#home-jumbotron {
    background-color: #2980b9;
}

#home-jumbotron-slogan-row {
    height: 25vh;

    h1 {
        font-family: 'Industry';
        font-weight: 400;
        font-size: 3rem;
        padding: 15px;
        margin-top: 10%;
    }
}

#home-jumbotron-image-row {
    height: 65vh;
}

#home-jumbotron-arrow-row {
    height: 10vh;
    
    #home-jumbotron-arrow {
        font-size: 2rem;
        color: #000;
        transition: color 0.5s ease-in-out;
    
        &:hover {
            color: #fff;
        }
    }
}

@media only screen and (max-width: 991px) {
    #home-jumbotron {
        margin-top: 50px;
    }

    #home-jumbotron-slogan-row {
        height: 15vh;

        h1 {
            font-size: 2rem;
        }
    }

    #home-jumbotron-image-row {
        height: 35vh;
    }
}

.home-section {
    margin-top: 10%;
    margin-bottom: 10%;

    .btn-block {
        margin-top: 20px;
    }
}

#home-section-about p {
    font-family: 'Open Sans', sans-serif;
}

#home-section-events {
    .card-deck {
        margin-bottom: 30px;
    }

    .card {
        margin-bottom: 10px;
    }
}
