<nav class="navbar navbar-expand-lg justify-content-between" [ngClass]="{'translucent': isAtTheTop, 'navbar-dark': isAtTheTop, 'navbar-light': !isAtTheTop}">
  <a class="navbar-brand" routerLink="/home" fragment="landing">
    <img src="../../../../assets/logo/Logo_Light_Small.png" width="90" height="90" alt="" *ngIf="isAtTheTop">
    <img src="../../../../assets/logo/Logo_Dark.png" width="90" height="90" alt="" *ngIf="!isAtTheTop">
  </a>
  <ul class="navbar-nav">
    <li class="nav-item active" routerLinkActive="active" *ngFor="let link of navigationLinks">
      <a class="nav-link" [routerLink]="[link.path]" [fragment]="link.fragment">{{link.text}}</a>
    </li>
  </ul>
</nav>
