:host {
  display: block;
  width: 100%;
  position: fixed;
  z-index: 1;
  user-select: none;
}

.navbar {
  padding: 0 10%;
  background: white;
  transition: 0.2s ease;
  
  &.translucent {
    background: transparent;
  }
}
