<div class="navbar navbar-dark bg-dark pt-4 pb-4">
  <div class="container">
    <div class="navbar-text m-auto">
      Made with <fa-icon [icon]="['fas', 'heart']" style="color: red;"></fa-icon> by NTUOSS
      <div class="block text-center pt-2">
        <a href="https://www.facebook.com/ntuoss/?ref=br_rs" target="_blank" class="btn mr-1" role="button" aria-pressed="true">
          <fa-icon [icon]="['fab', 'facebook-f']"></fa-icon>
        </a>
        <a href="https://twitter.com/ntuoss" target="_blank" class="btn mr-1" role="button" aria-pressed="true">
          <fa-icon [icon]="['fab', 'twitter']"></fa-icon>   
        </a>
        <a href="https://www.instagram.com/ntuoss/" target="_blank" class="btn" role="button" aria-pressed="true">
          <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
        </a>
      </div>
    </div>
  </div>  
</div>