
<nav class=" navbar navbar-dark bg-dark mt-10 clearfix">

    <div class="navbar-expand m-auto navbar-text">
        Made 
        <i class="fas fa-heart">

        </i>
        by NTUOSS
        
    </div>    
    <div class="navbar-expand m-auto navbar-text ">
        Follow Us On Social Media
        <a href= "https://www.facebook.com/ntuoss/?ref=br_rs">
        <button type = "button" class = "btn">
                   Facebook           
        </button>
        </a>
    </div>

</nav>

