:host {
  display: block;
  height: 80vh;
  background:#FFFFFF;
  padding-top: 5vh;
}

.container-fluid{
  .row:first-of-type{
    height: 20vh;
    .col{
      .h1{
        @keyframes blink {
          from, to { color: transparent; }
          50% { color:	#00BFFF; }
        }
      }
    }
  }
}