<table class="contactus-background-container">
    <tr>
        <th class="video-part">
                <video autoplay loop id="contactus-background-video">
                    <source src="/assets/video/contactus-background.mp4" type="video/mp4">
                </video>
        </th>
        <th>
            <table class="contactus-content">
                <tr>
                    <td colspan="2" class="title">
                        <h1 align="center"> GET IN TOUCH </h1>
                    </td>
                <tr>
                    <th class="name">
                        <h4> Name </h4>
                    </th>
                    <th class="email">
                        <h4> Email </h4>
                    </th>
                </tr>
                <tr>
                    <th class="nameInput">
                        <input type="text" name="name" placeholder="E.g. Anna"><br> 
                    </th>
                    <th class="emailInput">
                        <input type="text" name="email" placeholder="E.g. Anna@gmail.com"><br>
                    </th>
                </tr>
                <!-- <tr>
                    <td colspan="2" class="messageType">
                        <h4> Message Type </h4>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="type">
                        <button class="dropbtn">Message Type</button>
                        <div class="dropdown-content">
                              <a href="#">Technical Support</a>
                              <a href="#">Join Us</a>
                              <a href="#">Collaboration</a>
                              <a href="#">Others</a>
                        </div>
                    </td>
                </tr> -->
                <tr>
                    <td colspan="2" class="message">
                        <h4> Message </h4>
                    </td>
                </tr>
                <tr >
                    <textarea id = "myTextArea"
                            rows = "5"
                            cols = "80">Your message here</textarea>
                </tr>
                <tr>
                    <td colspan="2">
                        <button class="submit"> Submit </button>
                    </td>
                </tr>
            </table>
        </th>
    </tr>
</table>