@import 'src/assets/styles/mapbox-gl';


@media (max-width: 1200px) {
  body {
    background: #000;
  }
}

@media (min-width: 768px){
  .container {
    &.container-expanded {
      max-width: 90%;
    }
  }  
}

@media (min-width: 992px){
  .container {
    &.container-expanded {
      max-width: 80%;
    }
  }
}

@font-face {
  font-family: 'NEON';
  src: url('./assets/fonts/Neoneon.otf');
}